.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  /* justify-content: space-around; */
}

.header__logo {
  width: 100px;
  object-fit: contain;
  /* border: 2px solid red; */
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 50%;
}

.header__searchInput {
  width: 100%;
  height: 12px;
  padding: 10px;
  border: none;
}

.header__searchIcon {
  height: 22px !important;
  padding: 5px;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__options {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionsLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionsBasket {
  display: flex;
  color: white;
  align-items: center;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
